*tags*
*.lock
*.temp
*.a
*.bin
*.exe
*.EDZ
*.dep
*.Bak
*.scvd
*.txt
*.ini
*.crf
*.lst
*.map
*._ia
*.__i
*.ld
*.o
*.choulei
*.Leige
*.dep
*.bak
*.Bak
*.scvd
*.txt
*.ini
*.crf
*.d
*.axf
*.html
*.hex
*.htm
*.lnp
*.sct
*.map
*.lst
*.lock
*.cmake
*.yml
*.zip
*.rar
*.log
*.iex
*.Lenovo
*.rar

